table {
  width: 100%;
}

.parameter-edit-form {
  width: 400px;
}

.full-width {
  width: 100%;
}

td.pr10 {
  padding-right: 10px;
}

td.pl10 {
  padding-left: 10px;
}

td.mt10 {
  margin-top: 10px;
}

mat-form-field.mt10 {
  margin-top: 10px;
}

table.mt10 {
  margin-top: 10px;
}
