<mat-drawer-container class="example-container" autosize>
<mat-drawer mode="side" opened="true" >
  <mat-sidenav-container>
    <mat-nav-list style="width:200px;">
      <div>Mat nav list item</div>
    </mat-nav-list>
  </mat-sidenav-container>
</mat-drawer>
<mat-card>
  <section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
</mat-card>
<mat-card>
  <mat-card-title>Medibus Parameters</mat-card-title>
  <mat-card-subtitle>Parameter definition table along with Snomed-CT identifier</mat-card-subtitle>
  <mat-divider inset></mat-divider>
  <mat-card-content class="param-table border">
    <table mat-table [dataSource]="dataSource">
      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let param"> {{ param.id }} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let param"> {{ param.code }} </td>
      </ng-container>
      
      <ng-container matColumnDef="hexCode">
        <th mat-header-cell *matHeaderCellDef> HexCode </th>
        <td mat-cell *matCellDef="let param"> {{ param.hexCode }} </td>
      </ng-container>
      
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let param"> {{ param.description }} </td>
      </ng-container>
      
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let param"> {{ param.unit }} </td>
      </ng-container>
      
      <ng-container matColumnDef="snomedid">
        <th mat-header-cell *matHeaderCellDef> Snomed-ID </th>
        <td mat-cell *matCellDef="let param"> {{ param.snomedid }} </td>
      </ng-container>
      
      <ng-container matColumnDef="format">
        <th mat-header-cell *matHeaderCellDef> Format </th>
        <td mat-cell *matCellDef="let param"> {{ param.format }} </td>
      </ng-container>
      
      <ng-container matColumnDef="m" >
        <th mat-header-cell *matHeaderCellDef> M </th>
        <td mat-cell *matCellDef="let param" (click)="printRow(param)"> {{ param.m }} </td>
      </ng-container>
      
      <ng-container matColumnDef="ll">
        <th mat-header-cell *matHeaderCellDef> LL </th>
        <td mat-cell *matCellDef="let param"> {{ param.ll }} </td>
      </ng-container>
      
      <ng-container matColumnDef="hl">
        <th mat-header-cell *matHeaderCellDef> HL </th>
        <td mat-cell *matCellDef="let param"> {{ param.hl }} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="paramColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: paramColumns" (click)="printRow(row)"></tr>
      
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons 
        aria-label="Select page of parameters">
    </mat-paginator>
  </mat-card-content>
</mat-card>
</mat-drawer-container>

