<div>
  <form>
  <table class="full-width my10"><tr>
    <td>
      <mat-form-field appearance="fill" class="full-width" matTooltip="resp-display.component">
        <mat-label>First Record</mat-label>
        <input matInput disabled [(ngModel)]="firstRecordTime" name="startTime"/>
        <mat-hint>Timestamp of first record</mat-hint>
      </mat-form-field>
    </td>   
    <td>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Record</mat-label>
        <input matInput disabled [(ngModel)]="lastRecordTime" name="endTime"/>
        <mat-hint>Timestamp of last record</mat-hint>
      </mat-form-field>
    </td>
    <td class="center">
      <button mat-button (click)="updateEpisodeTimes()">Update episode times</button>
    </td>
  </tr>
  </table>
  
  
  
  <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Respiration data
      </mat-panel-title>
      <mat-panel-description>
        Tidal volume
      </mat-panel-description>
    </mat-expansion-panel-header>
    <resp-chart [respData]="respData"></resp-chart>
  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Gas data
      </mat-panel-title>
      <mat-panel-description>
        F<sub>i</sub>O<sub>2</sub>, E<sub>t</sub>CO<sub>2</sub>, O<sub>2</sub>-Uptake
      </mat-panel-description>
    </mat-expansion-panel-header>
    <gas-chart [gasData]="gasData"></gas-chart>
  </mat-expansion-panel>
</mat-accordion>

  
  
  </form>
</div>



