<div>
  <form>

  <table class="full-width mt10"><tr>
    <td class="pr10">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>First Record</mat-label>
        <input matInput [(ngModel)]="startTime" name="startTime"/>
        <mat-hint>Timestamp of first record</mat-hint>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Record</mat-label>
        <input matInput [(ngModel)]="endTime" name="endTime"/>
        <mat-hint>Timestamp of last record</mat-hint>
      </mat-form-field>
    </td>
  </tr>
  </table>
  </form>
</div>


