
mat-card{
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  box-sizing: border-box;
}

mat-form-field.mt10 {
  margin-top: 10px;
}


.full-width {
  width: 100%;
}


td.pr10 {
  padding-right: 10px;
}

td.pl10 {
  padding-left: 10px;
}

td.center
{
    text-align: center; 
    vertical-align: middle;
}

table.mt10 {
  margin-top: 10px;
}

table.mb10 {
  margin-bottom: 10px;
}

table.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}


