<div>
<p>Database episodes {{ episodes.length }}</p>

<mat-form-field appearance="fill">
  <mat-label>Devices</mat-label>
  <mat-select [(value)]="device">
    <mat-option>(None)</mat-option>
    <mat-option *ngFor="let d of devices" value="{{d.name}}">
      {{d.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div>
  Selected {{ device }}
</div>
</div>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let episode"> {{ episode.id }} </td>
      </ng-container>

      <ng-container matColumnDef="device">
        <th mat-header-cell *matHeaderCellDef> Device </th>
        <td mat-cell *matCellDef="let episode"> {{ episode.deviceid }} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let episode" 
          matTooltip="{{episode.value}}"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="100"
          >
          {{ episode.value.slice(0, 6) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="begin">
        <th mat-header-cell *matHeaderCellDef> Begin </th>
        <td mat-cell *matCellDef="let episode"><div class="date-display">{{ episode.begin | isoDate }}</div> {{ episode.begin | isoTime}} </td>
      </ng-container>
      
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> End </th>
        <td mat-cell *matCellDef="let episode"><div class="date-display">{{ episode.end | isoDate }}</div> {{ episode.end | isoTime }} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="episodeColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: episodeColumns;"></tr>
      
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
        aria-label="Select page of parameters">
    </mat-paginator>
  
</div>
