table {
  width: 100%;
}


.mat-column-id {
  width: 10%;
}

.mat-column-device {
 width: 20%;
}


.mat-column-count {
 width: 10%;
}

.mat-column-value {
 width: 20%;
}

.mat-column-begin {
  width: 20%;
}

.mat-column-end {
  width: 20%;
}

.table-container {
  height: 100%;
  max-width: 100%;
  overflow: auto;
}

.date-display {
  font-size: x-small;
  color: gray;
}
