<div>
<p>Database episodes {{ episodes.length }}</p>

<mat-form-field appearance="fill">
  <mat-label>Devices</mat-label>
  <mat-select [(value)]="device">
    <mat-option>(None)</mat-option>
    <mat-option *ngFor="let d of devices" value="{{d.name}}">
      {{d.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<hr>
<div>
  <table>
    <tr>
      <td>Selected device:</td>
      <td>{{ device }}</td>
    </tr>
    <tr>
      <td>Selected episode:</td>
      <td>{{ episode?.value  }}</td>
    </tr>
    <tr>
      <td>Epi Resp records</td>
      <td>{{ epiResp.length }}</td>
    </tr>
  </table>
  
  
</div>
<hr>
</div>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let episode"> {{ episode.eid }} </td>
      </ng-container>

      <ng-container matColumnDef="device">
        <th mat-header-cell *matHeaderCellDef> Device </th>
        <td mat-cell *matCellDef="let episode"> {{ episode.edeviceid }} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let episode"> {{ episode.rcount }} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let episode" 
          matTooltip="{{episode.evalue}}"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="100"
          >
          {{ episode.evalue.slice(0, 6) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="begin">
        <th mat-header-cell *matHeaderCellDef> Begin </th>
        <td mat-cell *matCellDef="let episode"><div class="date-display">{{ episode.ebegin | localeDate }}</div> {{ episode.ebegin | localeTime}} </td>
      </ng-container>
      
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> End </th>
        <td mat-cell *matCellDef="let episode"><div class="date-display">{{ episode.eend | localeDate }}</div> {{ episode.eend | localeTime }} </td>
      </ng-container>
      
     
      <tr mat-header-row *matHeaderRowDef="episodeColumns" (click)="onHeaderRowClicked()">
        
      </tr>
      <tr mat-row *matRowDef="let row; columns: episodeColumns;" (click)="onRowClicked(row)"> 
      </tr>
      
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
        aria-label="Select page of parameters">
    </mat-paginator>
  
</div>
