<div class="row mt-1">
  <div class="col-4">
    <button mat-raised-button color="primary" class="device-button" (click)="intervalStart()">Start</button>
  </div>
  <div class="col-4">
    <button mat-raised-button color="primary" class="device-button" (click)="intervalStop()">Stop</button>
  </div>
  <div class="col-4">
     <button mat-raised-button color="primary" class="device-button" (click)="intervalStatus()">Status</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-4">
    Cycles:
  </div>
  <div class="col-4">
    {{ status.cycles }}
  </div>
  <div class="col-4">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-4">
    Begin:
  </div>
  <div class="col-4">
    {{ status.begin | isoTime }}
  </div>
  <div class="col-4">
    {{ status.begin | isoDate }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-4">
    End:
  </div>
  <div class="col-4">
    {{ status.end | isoTime }}
  </div>
  <div class="col-4">
    {{ status.end | isoDate }}
  </div>
</div>
