<div class="row">
  <div class="col-7">
  
  </div>
  <div class="col-5">
    <button mat-raised-button class="btn-success" (click)="getVentData()">Vent-Data</button>   
  </div>
</div>

<div class="row">
  <div class="col-4">
    Message ID:  
  </div>
  <div class="col-4">
    {{ ventData.msgId }}
  </div>
  <div class="col-4">
  </div>
</div>
<div class="row">
  <div class="col-4">
    Time: 
  </div>
  <div class="col-4">
    {{ ventData.time | isoTime }}
  </div>
  <div class="col-4">
    {{ ventData.time | isoDate }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-4">
    Tidalvolume
  </div>
  <div class="col-8">
    {{ ventData.respiration.tidalvolume }}
  </div>
</div>

<div class="row">
  <div class="col-4">
    Minutevolume
  </div>
  <div class="col-8">
    {{ ventData.respiration.minutevolume }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-4">
    F<sub>i</sub>O<sub>2</sub>
  </div>
  <div class="col-8">
    {{ ventData.gas.fio2 }}
  </div>
</div>


<div class="row">
  <div class="col-4">
    E<sub>t</sub>CO<sub>2</sub>
  </div>
  <div class="col-8">
    {{ ventData.gas.feco2 }}
  </div>
</div>


<div class="row" *ngIf="ventData.inhalation.desflurane.insp !== null && ventData.inhalation.desflurane.insp != 0">
  <div class="col-4">
    Desflurane
  </div>
  <div class="col-4">
    I &nbsp; {{ ventData.inhalation.desflurane.insp }}
  </div>
  <div class="col-4">
    E &nbsp; {{ ventData.inhalation.desflurane.exp }}
  </div>
</div>


<div class="row" *ngIf="ventData.inhalation.sevoflurane.insp !== null && ventData.inhalation.sevoflurane.insp != 0">
  <div class="col-4">
    Sevoflurane
  </div>
  <div class="col-4">
    I &nbsp; {{ ventData.inhalation.sevoflurane.insp }}
  </div>
  <div class="col-4">
    E &nbsp; {{ ventData.inhalation.sevoflurane.exp }}
  </div>
</div>



<div class="row" *ngIf="ventData.inhalation.isoflurane.insp !== null && ventData.inhalation.isoflurane.insp != 0">
  <div class="col-4">
    Isoflurane
  </div>
  <div class="col-4">
    I &nbsp; {{ ventData.inhalation.isoflurane.insp }}
  </div>
  <div class="col-4">
    E &nbsp; {{ ventData.inhalation.isoflurane.exp }}
  </div>
</div>
