<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Episodes</mat-card-title>
      <mat-card-content>
        <episode-frame [(episode)]="currentEpisode" ></episode-frame>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Database component</mat-card-title>
      <mat-card-subtitle>(Subtitle)</mat-card-subtitle>
      <mat-divider inset></mat-divider>
      <mat-card-content class="mt10">
        <episode-detail [(episode)]="currentEpisode"></episode-detail>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
