

mat-card{
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  box-sizing: border-box;
}


mat-card-content.mt10 {
  margin-top: 10px;
}


div.half-width {
  display: inline-block;
  width: 50%;
}
