<mat-grid-list cols="4" rowHeight="250px">
  <mat-grid-tile [rowspan]="2" [colspan]="2">
    
   <mat-card>
      <mat-card-title>Devices</mat-card-title>
      <mat-card-subtitle>Xenon</mat-card-subtitle>
      
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
        <button mat-button>Details</button>
        <button mat-button>Archive</button>
      </mat-card-actions>
    </mat-card>
    
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" >

   <mat-card>
      <mat-card-title>Locations</mat-card-title>
      <mat-card-subtitle>Locations</mat-card-subtitle>
      
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
        <button mat-button>Details</button>
        <button mat-button>Archive</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile >
    
    <mat-card>
      <mat-card-title>Recordings</mat-card-title>
      <mat-card-subtitle>Recordings</mat-card-subtitle>
      
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
        <button mat-button>Details</button>
        <button mat-button>Archive</button>
      </mat-card-actions>
    </mat-card>
    
  </mat-grid-tile>
  <mat-grid-tile>
    
    <mat-card>
      <mat-card-title>Reports</mat-card-title>
      <mat-card-subtitle>Reports</mat-card-subtitle>
      
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">
        <button mat-button>Details</button>
        <button mat-button>Archive</button>
      </mat-card-actions>
    </mat-card>
    
    
  </mat-grid-tile>
</mat-grid-list>
