<mat-grid-list cols="3" rowHeight="800px">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Devices</mat-card-title>
      <mat-card-subtitle>Selected: {{ selectedDevice?.name }}</mat-card-subtitle>
      <mat-divider inset ></mat-divider>
        <device-list [(device)]="selectedDevice" ></device-list>
      <mat-card-content></mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <xenon-device [device]="selectedDevice" class="full-size"></xenon-device>
  </mat-grid-tile>
</mat-grid-list>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened="true" >
    <mat-sidenav-container>
      <mat-sidenav mode="side" opened>
        <mat-nav-list>
          <div *ngFor="let device of devices" >
            <a mat-list-item (click)="selectedDevice=device" >
              <span style="width:40%;">
                {{ device.name }}
              </span>
              <mat-chip-list>
                <mat-chip [style.background]="device.com.status.color" matTooltip="Communication status: {{ device.com.status.label }}">C</mat-chip>
                <mat-chip [style.background]="device.status.color" matTooltip="Device status: {{ device.status.label }}">D</mat-chip>
                <mat-chip [style.background]="device.xenon.status.color" matTooltip="Bus status: {{ device.xenon.status.label }}">B</mat-chip>
              </mat-chip-list>
            </a>
          </div>
        </mat-nav-list>
      </mat-sidenav>
    </mat-sidenav-container>
  
  </mat-drawer>
</mat-drawer-container>
